.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 55%;
  height: 20px;
  border: none;
  border-radius: 3px;
}

.search-button {
  background: lightcoral;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}